Binaries/
Content/
DerivedDataCache/
Intermediate/
Saved/
.vs/
Plugins/*/Binaries/
Plugins/*/Intermediate/
Scripts/__pycache__/
*.sln
*.VC.db
*.opensdf
*.suo
*.user
*.userosscache
*.sdf
*.tmp
*.log
ref/
source.rar
